{{ $fields := .fields }}{{ $structName := .structName }}
type {{ lower .structName }}Builder struct {
	data {{ .structName }}
}
{{ range .fieldNames }}
func (this *{{ lower $structName }}Builder) {{ capitalize . }}({{ . }} {{ index $fields . }}) *{{ lower $structName }}Builder {
	this.data.{{ . }} = {{ . }}
	return this
}
{{end}}
func (this *{{ lower $structName }}Builder) Build() {{ .structName }} {
	return this.data
}

func New{{ capitalize .structName }}Builder() *{{ lower .structName }}Builder {
	return &{{ lower .structName }}Builder{
		data: {{ .structName }}{},
	}
}
