{{ $fields := .fields }}
func New{{ capitalize .structName }}({{ range $i, $e := .fieldNames  }}{{ if $i }}{{", "}}{{ end }}{{ $e }} {{ index $fields $e }}{{ end }}) *{{ .structName }} {
	return &{{ .structName }}{
{{ range .fieldNames }}		{{ . }}: {{ . }},
{{ end }}	}
}
