{{ $fields := .fields }}{{ $fieldName := .fieldName }}
func (this *{{ .structName }}) {{ .w }}ith{{ capitalize .fieldName }}({{ .fieldName }} {{ .fieldType }}) *{{ .structName }} {
	return &{{ .structName }}{
{{ range .fieldNames }}		{{ . }}: {{ if eq . $fieldName }}{{ . }}{{ else }}this.{{ . }}{{ end }},
{{ end }}	}
}
